<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="post card">
    <div class="card-header">
        <h2>{{post.title}}</h2>
    </div>
    <div class="card-body">
        <p>{{post.content}}</p>
    </div>
</div>
{{/each}}

<button type="submit" class="btn">+ New Post</button>
