<!-- WHAT IS DIFFERENT BETWEEN THIS AND POSTS HANDELBARS??? -->
<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="post card">
    <div class="card-header">
        <a href="/dashboard/edit/{{post.id}}"><h2>{{post.title}}</h2></a>
    </div>
    <div class="card-body">
        <p>{{post.content}}</p>
    </div>
</div>
{{/each}}
<a href="/dashboard/new"><button type="submit" class="btn">Create New Post</button></a>
