<div class="post card">
    <div class="card-header">
        <h2>Log In</h2>
    </div>
    <form id="login-form" class="card-body">
        {{!-- <input type="hidden" name="post-id" value="{{post.id}}" /> --}}

        <label class="form-label" for="username-input-login">Username</label>
        <input type="text" id="username-input-login" class="form-input" />

        <label class="form-label" for="password-input-login">Password</label>
        <input type="password" id="password-input-login" class="form-input" />

        <button type="submit" class="btn">Log In</button>

        <p><a href="/signup">Sign Up Instead</a></p>
    </form>
</div>


<script src="/js/login.js"></script>