<div class="post card">
    <div class="card-header">
        <h2>Log In</h2>
    </div>
    <form id="edit-post-form" class="card-body">
        {{!-- <input type="hidden" name="post-id" value="{{post.id}}" /> --}}

        <label class="form-label" for="username-login">Username</label>
        <input type="text" name="username-login" value="{{username}}" class="form-input" />

        <label class="form-label" for="password-login">Password</label>
        <textarea name="password-login" class="form-input">{{password}}</textarea>

        <button type="submit" class="btn">Log In</button>

        <p><a href="/signup">Sign Up Instead</a></p>
    </form>
</div>


<script src="/js/login.js"