<div class="post card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <form id="signup-form" class="card-body">
        {{!-- <input type="hidden" name="post-id" value="{{post.id}}" /> --}}

        <label class="form-label" for="username-input-signup">Username</label>
        <input type="text" name="username-input-signup" value="{{username}}" class="form-input" />

        <label class="form-label" for="password-input-signup">Password</label>
        <input type="password" name="password-input-signup" value="{{password}}" class="form-input" />

        <button type="submit" class="btn">Sign Up</button>

        <p><a href="/login">Log in instead</a></p>
    </form>
</div>



<script src="/js/signup.js"></script>